<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-SunLight</title>
    <link rel="icon" type="image/png" href="/images/fav-1.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="outer">
        <div class="bot">Bot</div>
        <div class="top">Top</div>
    
        <div class="container-fluid"id="contact-bar">
            <p>
                Call Now: 256 751 772 559
                <a href="https://www.facebook.com/sunlight" target="_New"><i class="fa fa-facebook-square"></i></a>
                <a href=""><i class="fa fa-twitter-square"></i></a>
                <a href=""><i class="fa fa-linkedin-square"></i></a>
            </p>
        </div>


        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="main-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#theNav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href='@Url.Action("Index", "Home")'>
                        <img src="/img/sunlogo.jpg" alt="SunLight">
                    </a>

                </div>

                <div class="collapse navbar-collapse" id="theNav">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                        <li>@Html.ActionLink("HOW IT WORKS","howitworks","Home")</li>
                        <li>@Html.ActionLink("DEALS & PRICING", "Deals", "Home")</li>
                        <li>@Html.ActionLink("CONTACT US", "Contact", "Home")</li>

                    </ul>
                </div>
            </div>
        </nav>

    </div>
        <div class="container body-content" id="mainmain">
            
            @RenderBody()
            <hr />

        </div>
    
    <footer id="site-footer">
        <div class="container narrow row-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>Contact Us</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><span style="color: #ff9900;">Telephone line 1: </span>+256 751 772 559</p>
                    <p><span style="color: #ff9900;">Telephone line 2: </span>+243 810 061 501</p>
                    <p><span style="color: #ff9900;">Telephone line 3: </span>+243 976 447 900</p>
                    <p><span>Management</span><br> <a href="mailto:info@sunlight.com">info@sunlight.com</a></p>
                    <p><span>Sales</span><br> <a href="mailto:sales@sunlight.com">sales@sunlight.com</a></p>
                    <p><span>Technical Support</span><br> <a href="mailto:techsupport@sunlight.com">techsupport@sunlight.com</a></p>

                </div>
                <div class="col-md-4">
                    <p>
                        <span>Postal Address</span>
                    </p>
                    <p>
                        Post Net Suite 201<br>
                        Private Bag X4<br>
                        Bedfordview<br>
                        2008<br>
                        Uganda
                    </p>
                </div>
                <div class="col-md-4">
                    <p><span>Links</span></p>
                    <a href="" target="">Free Fax to Email</a>
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - SunLight</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
